<?xml version="1.0"?>
<!--


-->
<!--suppress XmlPathReference -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="csvendorreview" frontName="csvendorreview">
            <module name="Ced_CsVendorReview" />
        </route>
    </router>
</config>
