<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="csmarketplace_adminhtml_vendor_entity_edit_tabs">
       <observer name="Ced_CsProAssign_Observer_AssignTab" instance="Ced\CsProAssign\Observer\AddProductAssignTab" shared="true" />
    </event>
</config>
