<?xml version="1.0"?>
<!--
 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="csmarketplace">
            <module name="Ced_CsProduct" before="Ced_CsMarketplace"/>
        </route>
        <route id="csproduct" frontName="csproduct">
            <module name="Ced_CsProduct"/>
        </route>
    </router>
</config>
