<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="ced_csmarketplace_predispatch_action">
        <observer name="ced_csmarketplace_set_rtl_in_vendorpanel" instance="Ced\CsMarketplace\Observer\SetRtl" shared="false" />
    </event>
    <event name="controller_action_predispatch_csmarketplace_account_forgotpasswordpost">
        <observer name="captcha" instance="Magento\Captcha\Observer\CheckForgotpasswordObserver"/>
    </event>
</config>
