<?xml version="1.0"?>
<!--

-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Block override -->
    <preference for="Ced\CsMarketplace\Block\Adminhtml\Vendor\Entity" type="Ced\CsEnhancement\Block\Adminhtml\Marketplace\Vendor\Entity"/>
</config>
