<?xml version="1.0"?>
<!--

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="csmarketplace" frontName="csmarketplace">
            <module name="Ced_CsMarketplace" before="Magento_Adminhtml" />
        </route>
    </router>
</config>